<!DOCTYPEhtml>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>BookList</title>
<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
</head>
<body>		
<h1>Add Book</h1>
<div>
	<form th:object="${book}"th:action="@{save}"action="#"method="post">
		<label for="auth">author</label>
		<input type="text"id="auth"th:field="*{author}"/>
		<label for="titl">title</label>
		<input type="text"id="titl"th:field="*{title}"/>
		<label for="isbn">isbn</label>
		<input type="text" id="isbn" th:field="*{isbn}"/>
		<label for="yr">year</label>
		<input type="text" id ="yr" th:field="*{year}"/>
		<input type="submit"value="Save"></input>
		
		<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="catlist">Category</label>
			<select id="catlist" th:field="*{category}" class="form-control">
       		<option th:each="department: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
		</select>
	</form>
</div>

</body>
</html>